<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ?⚠️Mast have parts of files start -->
    <!-- !Fav-icon  -->
    <link rel="shortcut icon" href="./Icon/fav-icon.png" type="image/x-icon">
    <!-- !Daisy UI & Tailwind  -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- !vanilla CSS  -->
    <link rel="stylesheet" href="./style.css">
    <!-- !Icon  -->
    <script src="https://kit.fontawesome.com/9538e475ca.js" crossorigin="anonymous"></script>
    <!-- ?⚠️Mast have parts of files end -->
    <title>User profile</title>
</head>
<body class="Background_color p-[30px]">
    <div class="fixed  top-0 left-0 right-0 p-[30px] pb-0 bg-[#70CBC9]">
        <header class="flex justify-between mb-3">
            <h1 class="Font_Allan text-white text-3xl">Friendlly</h1>
            <div class="avatar">
                <div class="w-[30px] rounded-full">
                    <a href="./user_profile.html"><img src="https://i.pinimg.com/564x/7c/d8/57/7cd85777d7cfa273e026935f59c29059.jpg" /></a>
                </div>
              </div>
        </header>
        <nav class="">
            <div class="w-full">
                <div class="bg-[#a4dcda7a] mx-[-30px] px-[30px] py-3 mb-5">
                    <div class="flex justify-between items-center">
                        <a href="./home_feed.html"><i class="text-2xl ms-6 text-white fa-solid fa-house"></i></a>
                        <a href="./Friend_request.html"><i class="text-2xl ms-6 text-white fa-solid fa-users"></i></a>
                        <a href="./Chat_list.html"><i class="text-2xl ms-6 text-white fa-solid fa-message"></i></a>
                        <div class="flex justify-end">
                            <input type="email" placeholder="search" class="input input-bordered bg-transparent border-2 border-white w-8/12 md:w-auto lg:w-11/12 placeholder:text-white inline" />
                            <button class="btn bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-white px-4 uppercase inline ms-1"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
        </nav>
    </div>
    <main class="mt-44">
        <div>
            <div>
                <div class="avatar static flex justify-center">
                    <div class="w-32 border-4 border-blue-700 rounded-full">
                      <img src="https://i.pinimg.com/236x/7c/d8/57/7cd85777d7cfa273e026935f59c29059.jpg" />
                    </div>
                  </div>
                  <h2 class="Font_Inter text-white font-bold text-4xl mt-5 text-center">Sam Wind</h2>
            </div>
            <div class="flex justify-between mt-5">
                <button class="btn bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-white px-10 px-14 uppercase me-3"><a href="#">Message</a></button>
                <button class="btn bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-white px-10 px-14 uppercase"><a href="./user_infoEdit.html">Edit info</a></button>
            </div>
            <div>
                <h3 class="Font_Inter text-[#255956] font-bold text-2xl uppercase my-5">Basic info</h3>
                <div class="Font_Inter font-semibold text-xl text-white">
                    <p class="mb-3"><i class="fa-regular fa-user"></i> Name : <span>Sam wind</span></p>
                    <p class="mb-3"><i class="fa-solid fa-user"></i> Gender : <span>Male</span></p>
                    <p class="mb-3"><i class="fa-regular fa-calendar"></i> Birthdate: <span>2001/12/05</span></p>
                    <p class="mb-3"><i class="fa-solid fa-circle"></i> Religion : <span>christian</span></p>
                    <p class="mb-3"><i class="fa-solid fa-heart"></i> Relationship status: <span>Single</span></p>
                    <p class="mb-3"><i class="fa-solid fa-location-dot"></i> Address : <span>2972 Westheimer Rd. Santa Ana, Illinois 85486 </span></p>
                    <p class="mb-3"><i class="fa-solid fa-phone"></i> Phone: <span>(406) 555-0120</span></p>
                    <p class="mb-3"><i class="fa-solid fa-envelope"></i> Email: <span>alma.lawson@example.com</span></p>
                </div>
            </div>
            <div>
                <h3 class="Font_Inter text-[#255956] font-bold text-2xl uppercase my-5">My posts</h3>
                <div>
                    <!-- !post number 1  -->
        <div class="mb-8">
            <div class="flex items-center mb-3">
                <div class="avatar static">
                    <div class="w-12 rounded-full">
                        <!-- !user image👇  -->
                      <img src="https://i.pinimg.com/564x/7c/d8/57/7cd85777d7cfa273e026935f59c29059.jpg" />
                    </div>
                </div>
                <p class="Font_Inter text-white font-semibold text-lg ms-3 ">Sam Wind</p>
            </div>
            <img class="rounded-lg" src="https://i.pinimg.com/564x/94/91/22/949122b540a79c77d093ec2218540e49.jpg" alt="">
            <div class="flex items-center justify-between md:justify-start  mt-2">
                <div class="flex justify-between w-3/12">
                    <button><i class="text-xl fa-regular fa-heart"></i></button>
                    <button><i class="text-xl fa-regular fa-comment"></i></button>
                    <button><i class="text-xl fa-regular fa-paper-plane"></i></button>
                </div>
                <i class="text-xl fa-regular fa-bookmark md:ms-16"></i>
            </div>
            <p class="Font_Abel text-sm text-[#255956] font-semibold mb-2">Liked by <span>100</span></p>
            <h3 class="Font_Inter text-white font-semibold">Hey check out my new house in Minecraft😄.</h3>
            <p class="Font_Abel font-light text-sm text-[#255956]">1 day ago</p>
        </div>
        <!-- !post number 1  -->
        <div class="mb-8">
            <div class="flex items-center mb-3">
                <div class="avatar static">
                    <div class="w-12 rounded-full">
                        <!-- !user image👇  -->
                      <img src="https://i.pinimg.com/564x/7c/d8/57/7cd85777d7cfa273e026935f59c29059.jpg" />
                    </div>
                </div>
                <p class="Font_Inter text-white font-semibold text-lg ms-3 ">Sam Wind</p>
            </div>
            <img class="rounded-lg" src="https://i.pinimg.com/564x/94/91/22/949122b540a79c77d093ec2218540e49.jpg" alt="">
            <div class="flex items-center justify-between md:justify-start  mt-2">
                <div class="flex justify-between w-3/12">
                    <i class="text-xl fa-regular fa-heart"></i>
                    <i class="text-xl fa-regular fa-comment"></i>
                    <i class="text-xl fa-regular fa-paper-plane"></i>
                </div>
                <i class="text-xl fa-regular fa-bookmark md:ms-16"></i>
            </div>
            <p class="Font_Abel text-sm text-[#255956] font-semibold mb-2">Liked by <span>100</span></p>
            <h3 class="Font_Inter text-white font-semibold">Hey check out my new house in Minecraft😄.</h3>
            <p class="Font_Abel font-light text-sm text-[#255956]">1 day ago</p>
        </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>