<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ?⚠️Mast have parts of files start -->
    <!-- !Fav-icon  -->
    <link rel="shortcut icon" href="./Icon/fav-icon.png" type="image/x-icon">
    <!-- !Daisy UI & Tailwind  -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- !vanilla CSS  -->
    <link rel="stylesheet" href="./style.css">
    <!-- !Icon  -->
    <script src="https://kit.fontawesome.com/9538e475ca.js" crossorigin="anonymous"></script>
    <!-- ?⚠️Mast have parts of files end -->
    <title>User info edit</title>
</head>
<body class="Background_color p-[30px]">
    <div class="fixed  top-0 left-0 right-0 p-[30px] pb-0 bg-[#70CBC9]">
        <header class="flex justify-between mb-3">
            <h1 class="Font_Allan text-white text-3xl">Friendlly</h1>
            <div class="avatar">
                <div class="w-[30px] rounded-full">
                    <a href="./user_profile.html"><img src="https://i.pinimg.com/564x/7c/d8/57/7cd85777d7cfa273e026935f59c29059.jpg" /></a>
                </div>
              </div>
        </header>
        <nav class="">
            <div class="w-full">
                <div class="bg-[#a4dcda7a] mx-[-30px] px-[30px] py-3 mb-5">
                    <div class="flex justify-between items-center">
                        <a href="./home_feed.html"><i class="text-2xl ms-6 text-white fa-solid fa-house"></i></a>
                        <a href="./Friend_request.html"><i class="text-2xl ms-6 text-white fa-solid fa-users"></i></a>
                        <a href="./Chat_list.html"><i class="text-2xl ms-6 text-white fa-solid fa-message"></i></a>
                        <div class="flex justify-end">
                            <input type="email" placeholder="search" class="input input-bordered bg-transparent border-2 border-white w-8/12 md:w-auto lg:w-11/12 placeholder:text-white inline" />
                            <button class="btn bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-white px-4 uppercase inline ms-1"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
        </nav>
    </div>
    <main class="mt-44">
        <div>
            <h2 class="Font_Inter text-[#255956] font-bold text-2xl uppercase my-5">Basic info</h2>
            <div>
                <form method="">
                    <p class="Font_Inter text-white font-semibold mb-2">Upload Picture :</p>
                    <input type="file" class="border-2 p-2 rounded-lg mb-4">
                    <p class="Font_Inter text-white font-semibold mb-2">Name :</p>
                    <input type="text" placeholder="Type here" class="input input-bordered bg-transparent w-full border-2 border-white mb-4 placeholder:text-white" />
                    <div>
                        <p class="Font_Inter text-white font-semibold mb-2 inline">Gender :</p>
                        <div class="inline">
                            <details class="dropdown-top dropdown mb-4">
                                <summary class="m-1 btn">Select gender</summary>
                                <ul class="p-2 shadow menu  dropdown-content z-[1] bg-base-100 rounded-box w-52">
                                    <li><a>Male</a></li>
                                    <li><a>Female</a></li>
                                    <li><a>Others</a></li>
                                </ul>
                            </details>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <p class="Font_Inter text-white font-semibold mb-2">Birthdate :</p>
                        <input type="date" class="border-2 p-2 rounded-lg mb-4 ms-2">
                    </div>
                    <div class="flex items-center">
                        <p class="Font_Inter text-white font-semibold mb-2">Religion :</p>
                        <div>
                            <details class="dropdown-top dropdown mb-4">
                                <summary class="m-1 btn">Selet religion</summary>
                                <ul class="p-2 shadow menu  dropdown-content z-[1] bg-base-100 rounded-box w-52">
                                    <li><a>Male</a></li>
                                    <li><a>Female</a></li>
                                    <li><a>Others</a></li>
                                </ul>
                            </details>
                        </div>
                    </div>
                    <div class="mb-4">
                        <p class="Font_Inter text-white font-semibold mb-2">Address :</p>
                        <input type="text" placeholder="Enter address" class="border-2 p-3 rounded-lg w-full bg-transparent placeholder:text-white">
                    </div>
                    <div class="mb-4">
                        <p class="Font_Inter text-white font-semibold mb-2">Phone :</p>
                        <input type="number" placeholder="Enter phone number" class="border-2 p-3 rounded-lg w-full bg-transparent placeholder:text-white">
                    </div>
                    <div class="mb-4">
                        <p class="Font_Inter text-white font-semibold mb-2">Email :</p>
                        <input type="email" placeholder="Enter email" class="border-2 p-3 rounded-lg w-full bg-transparent placeholder:text-white">
                    </div>
                    <button class="btn bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-white px-10 w-full uppercase"><a href="./user_profile.html">Save</a></button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>