<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ?⚠️Mast have parts of files start -->
    <!-- !Fav-icon  -->
    <link rel="shortcut icon" href="./Icon/fav-icon.png" type="image/x-icon">
    <!-- !Daisy UI & Tailwind  -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- !vanilla CSS  -->
    <link rel="stylesheet" href="{% static '/static/css/style.css'%}">
    <!-- !Icon  -->
    <script src="https://kit.fontawesome.com/9538e475ca.js" crossorigin="anonymous"></script>
    <!-- ?⚠️Mast have parts of files end -->
    <title>Splash Screen</title>
</head>
<body class="Background_color">
    <div class="text-center flex flex-col justify-center items-center px-[91px] py-[380px]">
        <h1 class="Font_Allan text-white text-[64px] md:text-8xl md:mb-5">Friendlly</h1>
        <p class="Font_Abel text-white mb-[50px] md:text-2xl md:mb-10">Let’s make friends</p>
        <button class="Font_Inter text-base font-semibold text-white bg-[#0A9FBF] hover:bg-[#0a677c] py-3 px-6 rounded-md md:text-2xl"><a href="./logIn.html">Let’s get started</a></button>
    </div>
</body>  
</body>
</html>