<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ?⚠️Mast have parts of files start -->
    <!-- !Fav-icon  -->
    <link rel="shortcut icon" href="./Icon/fav-icon.png" type="image/x-icon">
    <!-- !Daisy UI & Tailwind  -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- !vanilla CSS  -->
    <link rel="stylesheet" href="./style.css">
    <!-- !Icon  -->
    <script src="https://kit.fontawesome.com/9538e475ca.js" crossorigin="anonymous"></script>
    <!-- ?⚠️Mast have parts of files end -->
    <title>Friend request</title>
</head>
<body class="Background_color p-[30px]">
    <div class="fixed  top-0 left-0 right-0 p-[30px] pb-0 bg-[#70CBC9]">
        <header class="flex justify-between mb-3">
            <h1 class="Font_Allan text-white text-3xl">Friendlly</h1>
            <div class="avatar">
                <div class="w-[30px] rounded-full">
                  <a href="./user_profile.html"><img src="https://i.pinimg.com/564x/7c/d8/57/7cd85777d7cfa273e026935f59c29059.jpg" /></a>
                </div>
              </div>
        </header>
        <nav class="">
            <div class="w-full">
                <div class="bg-[#a4dcda7a] mx-[-30px] px-[30px] py-3 mb-5">
                    <div class="flex justify-between items-center">
                        <a href="./home_feed.html"><i class="text-2xl ms-6 text-white fa-solid fa-house"></i></a>
                        <a href="./Friend_request.html"><i class="text-2xl ms-6 text-black fa-solid fa-users"></i></a>
                        <a href="./Chat_list.html"><i class="text-2xl ms-6 text-white fa-solid fa-message"></i></a>
                        <div class="flex justify-end">
                            <input type="email" placeholder="search" class="input input-bordered bg-transparent border-2 border-white w-8/12 md:w-auto lg:w-11/12 placeholder:text-white inline" />
                            <button class="btn bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-white px-4 uppercase inline ms-1"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
        </nav>
    </div>
    <main class="mt-40">
        <h2 class="Font_Inter text-[#255956] text-xl font-bold">Friend request</h2>
        <div class="mt-5 grid grid-cols-1 md:grid-cols-2 md:gap-3">
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- !1 -->
            <div class="border border-white p-3 rounded-lg mb-6">
                <div class="flex items-center">
                    <div>
                        <div class="avatar static me-7">
                            <div class="w-20 rounded-full">
                              <img src="https://i.pinimg.com/236x/6d/f8/f9/6df8f9959263078e48b0180620119c72.jpg" />
                            </div>
                          </div>
                    </div>
                      <div>
                        <h3 class="Font_Inter text-xl font-bold text-white">Shinchan</h3>
                        <div class="flex">
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 me-2 uppercase inline">Confirm</button>
                            <button class=" bg-[#0A9FBF] hover:bg-[#0a677c] border-0 Font_Inter text-sm text-white rounded-lg py-2 px-4 uppercase inline">Reject</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>